@import '../../css/colors.scss';

.sidebar {
	flex: 0 0 auto;
	width: 300px;
	background: #272727;
	border-right: 1px solid  rgb(31, 31, 31);

	.banner {
		height: 150px;
		border-bottom: 1px solid rgb(31, 31, 31);

		.image {
			background-size: contain;
			height: 100%;
			margin: 0 auto;
		}
	}
}

.navigation {
	height: 100%;
	width: 100%;
	padding: 20px;
	float: right;
	display: table;

	.navigation-link {
		text-align:right;
		margin: 15px 0;

		a {
			text-decoration: none;
			font-weight: 600;
			color: $secondary-color-dark;
			font-size: 12px;
			letter-spacing: 1px;

			&.router-link-active {
				color: $primary-color;
			}

			&:hover {
				color: $secondary-color-light;
			}
		}

		i {
			margin-left: 10px;
			vertical-align: middle;
			font-size: 14px;
			font-weight: 600;
		}
	}
}
