.routine {
	background: rgb(34, 34, 34);
	border-radius: 3px;
	border:1px solid black;
	padding: 20px;
	text-align: left;
	width: 90%;

	.break {
		height: 1px;
		width: calc(100% + 40px);
		background: black;
		margin: 20px 20px 20px -20px;
	}

	.task-list {
		color: #fafafa;

		.task-block {
			display: flex;

			.time {
				color: rgba(255, 255, 255, 0.4);
				font-weight: 600;
				font-size: 14px;

				.number {
					font-size: 40px;
					margin-right: -3px;
					display: inline-block;
				}

				.am-pm {
					margin-top: 2px;
					vertical-align: top;
					display: inline-block;
				}
			}
		}
	}
}
