@import '../../css/colors.scss';

.routine {
	background: rgb(34, 34, 34);
	border-radius: 3px;
	border:1px solid black;
	padding: 20px;
	text-align: left;
	width: 90%;

	.break {
		height: 1px;
		width: calc(100% + 40px);
		background: black;
		margin: 20px 20px 20px -20px;
	}

	.task-list {
		color: #fafafa;

		.task-block {
			display: flex;
			margin-bottom: 20px;
			user-select: none;

			ul { margin: 0; padding: 0 30px; list-style: none; }

			.time {
				color: rgba(255, 255, 255, 0.4);
				font-weight: 600;
				font-size: 14px;
				flex: 0 0 auto;

				.number {
					font-size: 40px;
					margin-right: -3px;
					display: inline-block;
				}

				.am-pm {
					margin-top: 2px;
					vertical-align: top;
					display: inline-block;
				}
			}

			.tasks {
				border-left:1px solid rgba(255, 255, 255, 0.4);
				margin-left: 20px;

				.task {
					margin-bottom: 10px;
				}

				label {
					font-size: 20px;
					font-weight: 800;
				}

				.description {
					display: inline-block;
					vertical-align: top;

					.title {
						&.completed {
							opacity: .2;
							text-decoration: line-through;
						}
					}

					.modifiers { display: block; margin-top: -3px; }

					.icon {
						display: inline-block;
						font-size: 12px;
						font-weight: 800;
						padding: 3px;
						border-radius: 3px;
						width: 14px;
						margin-right: 5px;

						&.enabled {
							background: $secondary-color-dark;
							color: #222222;
						}
					}
				}
			}
		}
	}
}
